/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
    font-family: 'Courgette', cursive;

    font-family: 'Press Start 2P', cursive;

    font-family: 'Source Code Pro', monospace; */

body {
  background-image: url('../img/fundo.jpg');
  font-family: 'Source Code Pro', monospace;
  background-size: auto 100vh;
  height: 100vh;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: teal;
  text-decoration: none;
}

/* Pseudo class */
a:hover {
  text-decoration: underline;
}

.menu {
  background-color: white;
  width: 100vw;
  position: fixed;
  top: 0;
}

.menu a {
  padding: 10px 20px;
  display: block;
}

.menu ul {
  display: flex;
  justify-content: space-around ;
}

/* Seletor hierarquico */
.menu li {
  list-style: none;
}

.site-subtitle, .site-title {
  color: whitesmoke;
  text-align:center;
  line-height: 1.8em;;
}

.site-title {
  font-family: 'Courgette', cursive;
}

.site-subtitle {
  font-family: 'Press Start 2P', cursive;
}

.portfolio {
  padding: 2em;
  height: calc(100vh - 2em);
}

.portfolio h2 {
  margin-bottom: 2em;
}

.portfolio .grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: center;
    
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 3%;
}