/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
    font-family: 'Courgette', cursive;

    font-family: 'Press Start 2P', cursive;

    font-family: 'Source Code Pro', monospace; */

body {
  background-image: url('../img/fundo.jpg');
  font-family: 'Source Code Pro', monospace;
  background-size: auto 100vh;
  height: 100vh;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: teal;
  text-decoration: none;
}

/* Pseudo class */
a:hover {
  text-decoration: underline;
}

.menu {
  background-color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}

.menu a {
  padding: 10px 20px;
  display: block;
  transition: background-color .5s, color .5s;
}

.menu a:hover {
  background-color: teal;
  color: whitesmoke;
}

.menu ul {
  display: flex;
  justify-content: space-around ;
}

/* Seletor hierarquico */
.menu li {
  list-style: none;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  0% {
    
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-subtitle, .site-title {
  color: whitesmoke;
  text-align:center;
  line-height: 1.8em;;
}

.site-title {
  font-family: 'Courgette', cursive;
}

.site-subtitle {
  font-family: 'Press Start 2P', cursive;
}

.contato,
.portfolio {
  padding: 2em;
  min-height: calc(100vh - 2em);
}

.contato h2,
.portfolio h2 {
  margin-bottom: 2em;
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
}

.portfolio .grid {
  display: grid;
  gap: 1em;
  align-content: center;
  justify-content: center;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 3%;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2);
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow .5s;
}

.contato a:hover,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgb( 255, 255, 255, .5);
}

.contato .icons {
  text-align: center;
}